<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="/static/js/placeholder.js"></script>
    </head>

    <body>
        <form id="slick-login" action="/login" method="POST">
            <input type="text" name="username" class="placeholder" placeholder="username" id="username">
            <input type="password" name="password" class="placeholder" placeholder="password" id="password">
            <input type="submit" value="ВОЙТИ">
            {% module xsrf_form_html() %}
        </form>
    </body>
</html>

